In [4]:
import pandas as pd
import numpy as np
from keras.preprocessing import sequence
from keras.layers import TimeDistributed, GlobalAveragePooling1D, GlobalAveragePooling2D, BatchNormalization
from keras.layers.recurrent import LSTM
from keras.layers.convolutional import Conv1D, MaxPooling1D, Conv2D, MaxPooling2D, AveragePooling1D
from keras.layers.embeddings import Embedding
from keras.layers import Dropout, Flatten, Bidirectional, Dense, Activation, TimeDistributed
from keras.models import Model, Sequential
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from string import ascii_lowercase
from collections import Counter
from gensim.models import Word2Vec
from gensim.models import Doc2Vec
from gensim.models import doc2vec
from gensim.models import KeyedVectors
import itertools, nltk, snowballstemmer, re

LabeledSentence = doc2vec.LabeledSentence

In [5]:
class LabeledLineSentence(object):
    def __init__(self, sources):
        self.sources = sources
        
        flipped = {}
        
        # make sure that keys are unique
        for key, value in sources.items():
            if value not in flipped:
                flipped[value] = [key]
            else:
                raise Exception('Non-unique prefix encountered')
    
    def __iter__(self):
        for source, prefix in self.sources.items():
            with utils.smart_open(source) as fin:
                for item_no, line in enumerate(fin):
                    yield LabeledSentence(utils.to_unicode(line).split(), [prefix + '_%s' % item_no])
    
    def to_array(self):
        self.sentences = []
        for source, prefix in self.sources.items():
            with utils.smart_open(source) as fin:
                for item_no, line in enumerate(fin):
                    self.sentences.append(LabeledSentence(utils.to_unicode(line).split(), [prefix + '_%s' % item_no]))
        return self.sentences
    
    def sentences_perm(self):
        shuffled = list(self.sentences)
        random.shuffle(shuffled)
        return shuffled

In [6]:
data = pd.read_csv("/content/drive/My Drive/deceptive-opinion.csv")

In [7]:
data['polarity'] = np.where(data['polarity']=='positive', 1, 0)
data['deceptive'] = np.where(data['deceptive']=='truthful', 1, 0)

In [8]:
data.head()

   deceptive  ...                                               text
0          1  ...  We stayed for a one night getaway with family ...
1          1  ...  Triple A rate with upgrade to view room was le...
2          1  ...  This comes a little late as I'm finally catchi...
3          1  ...  The Omni Chicago really delivers on all fronts...
4          1  ...  I asked for a high floor away from the elevato...

[5 rows x 5 columns]

In [9]:
df = data.sample(frac=1)

In [10]:
df.head()

      deceptive  ...                                               text
674           0  ...  Upon entering the Hotel Monaco CHicago, i coul...
1281          0  ...  For the price, you would think this would be a...
833           1  ...  My family booked five nitghts at the Omni Chic...
1389          0  ...  I recently stayed at the Affinia Hotel in Chic...
1296          0  ...  While the hotel certainly seems to look beauti...

[5 rows x 5 columns]

In [11]:
df.describe()

         deceptive     polarity
count  1600.000000  1600.000000
mean      0.500000     0.500000
std       0.500156     0.500156
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.500000     0.500000
75%       1.000000     1.000000
max       1.000000     1.000000

In [12]:
def create_class(c):
    if c['polarity'] == 1 and c['deceptive'] == 1:
        return [1,1]
    elif c['polarity'] == 1 and c['deceptive'] == 0:
        return [1,0]
    elif c['polarity'] == 0 and c['deceptive'] == 1:
        return [0,1]
    else:
        return [0,0]
    
def specific_class(c):
    if c['polarity'] == 1 and c['deceptive'] == 1:
        return "TRUE_POSITIVE"
    elif c['polarity'] == 1 and c['deceptive'] == 0:
        return "FALSE_POSITIVE"
    elif c['polarity'] == 0 and c['deceptive'] == 1:
        return "TRUE_NEGATIVE"
    else:
        return "FALSE_NEGATIVE"

data['final_class'] = data.apply(create_class, axis=1)
data['given_class'] = data.apply(specific_class, axis=1)

In [13]:
data['final_class']

0       [1, 1]
1       [1, 1]
2       [1, 1]
3       [1, 1]
4       [1, 1]
         ...
1595    [0, 0]
1596    [0, 0]
1597    [0, 0]
1598    [0, 0]
1599    [0, 0]
Name: final_class, Length: 1600, dtype: object

In [14]:
data.head()

   deceptive   hotel  ...  final_class    given_class
0          1  conrad  ...       [1, 1]  TRUE_POSITIVE
1          1   hyatt  ...       [1, 1]  TRUE_POSITIVE
2          1   hyatt  ...       [1, 1]  TRUE_POSITIVE
3          1    omni  ...       [1, 1]  TRUE_POSITIVE
4          1   hyatt  ...       [1, 1]  TRUE_POSITIVE

[5 rows x 7 columns]

In [15]:

from sklearn import preprocessing 
   
label_encoder = preprocessing.LabelEncoder() 
  

data['given_class']= label_encoder.fit_transform(data['given_class'])

In [16]:
data['given_class'].unique()

array([3, 1, 2, 0])

In [17]:
Y = data['given_class']
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_y = np_utils.to_categorical(encoded_Y)

In [18]:
data.head()

   deceptive   hotel  ...  final_class given_class
0          1  conrad  ...       [1, 1]           3
1          1   hyatt  ...       [1, 1]           3
2          1   hyatt  ...       [1, 1]           3
3          1    omni  ...       [1, 1]           3
4          1   hyatt  ...       [1, 1]           3

[5 rows x 7 columns]

In [19]:
textData = pd.DataFrame(list(data['text']))

In [22]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [23]:

stemmer = snowballstemmer.EnglishStemmer()


stop = stopwords.words('english')
stop.extend(['may','also','zero','one','two','three','four','five','six','seven','eight','nine','ten','across','among','beside','however','yet','within']+list(ascii_lowercase))
stoplist = stemmer.stemWords(stop)
stoplist = set(stoplist)
stop = set(sorted(stop + list(stoplist)))

In [24]:
textData[0].replace('[!"#%\'()*+,-./:;<=>?@\[\]^_`{|}~1234567890’”“′‘\\\]',' ',inplace=True,regex=True)
wordlist = filter(None, " ".join(list(set(list(itertools.chain(*textData[0].str.split(' ')))))).split(" "))
data['stemmed_text_data'] = [' '.join(filter(None,filter(lambda word: word not in stop, line))) for line in textData[0].str.lower().str.split(' ')]

In [25]:

minimum_count = 1
str_frequencies = pd.DataFrame(list(Counter(filter(None,list(itertools.chain(*data['stemmed_text_data'].str.split(' '))))).items()),columns=['word','count'])
low_frequency_words = set(str_frequencies[str_frequencies['count'] < minimum_count]['word'])
data['stemmed_text_data'] = [' '.join(filter(None,filter(lambda word: word not in low_frequency_words, line))) for line in data['stemmed_text_data'].str.split(' ')]
data['stemmed_text_data'] = [" ".join(stemmer.stemWords(re.sub('[!"#%\'()*+,-./:;<=>?@\[\]^_`{|}~1234567890’”“′‘\\\]',' ', next_text).split(' '))) for next_text in data['stemmed_text_data']]

In [26]:
lmtzr = WordNetLemmatizer()
w = re.compile("\w+",re.I)

def label_sentences(df, input_point):
    labeled_sentences = []
    list_sen = []
    for index, datapoint in df.iterrows():
        tokenized_words = re.findall(w,datapoint[input_point].lower())
        labeled_sentences.append(LabeledSentence(words=tokenized_words, tags=['SENT_%s' %index]))
        list_sen.append(tokenized_words)
    return labeled_sentences, list_sen

def train_doc2vec_model(labeled_sentences):
    model = Doc2Vec(min_count=1, window=9, size=512, sample=1e-4, negative=5, workers=7)
    model.build_vocab(labeled_sentences)
    pretrained_weights = model.wv.syn0
    vocab_size, embedding_size = pretrained_weights.shape
    model.train(labeled_sentences, total_examples=vocab_size, epochs=400)
    
    return model

In [27]:
textData = data['stemmed_text_data'].to_frame().reset_index()
sen, corpus = label_sentences(textData, 'stemmed_text_data')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated `LabeledSentence` (Class will be removed in 4.0.0, use TaggedDocument instead).
  if __name__ == '__main__':

In [28]:
doc2vec_model = train_doc2vec_model(sen)

/usr/local/lib/python3.6/dist-packages/gensim/models/doc2vec.py:570: UserWarning: The parameter `size` is deprecated, will be removed in 4.0.0, use `vector_size` instead.
  warnings.warn("The parameter `size` is deprecated, will be removed in 4.0.0, use `vector_size` instead.")
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).
  app.launch_new_instance()

In [29]:
doc2vec_model.save("doc2vec_model_opinion_corpus.d2v")

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:254: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [30]:
doc2vec_model = Doc2Vec.load("doc2vec_model_opinion_corpus.d2v")

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:254: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD

tfidf1 = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False, ngram_range=(1,1))
result_train1 = tfidf1.fit_transform(corpus)

tfidf2 = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False, ngram_range=(1,2))
result_train2 = tfidf2.fit_transform(corpus)

tfidf3 = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False, ngram_range=(1,3))
result_train3 = tfidf3.fit_transform(corpus)

svd = TruncatedSVD(n_components=512, n_iter=40, random_state=34)
tfidf_data1 = svd.fit_transform(result_train1)
tfidf_data2 = svd.fit_transform(result_train2)
tfidf_data3 = svd.fit_transform(result_train3)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
import spacy

nlp = spacy.load('en')
temp_textData = pd.DataFrame(list(data['text']))

overall_pos_tags_tokens = []
overall_pos = []
overall_tokens = []
overall_dep = []

for i in range(1600):
    doc = nlp(temp_textData[0][i])
    given_pos_tags_tokens = []
    given_pos = []
    given_tokens = []
    given_dep = []
    for token in doc:
        output = "%s_%s" % (token.pos_, token.tag_)
        given_pos_tags_tokens.append(output)
        given_pos.append(token.pos_)
        given_tokens.append(token.tag_)
        given_dep.append(token.dep_)
        
    overall_pos_tags_tokens.append(given_pos_tags_tokens)
    overall_pos.append(given_pos)
    overall_tokens.append(given_tokens)
    overall_dep.append(given_dep)

In [33]:
from sklearn.preprocessing import MinMaxScaler

count = CountVectorizer(tokenizer=lambda i:i, lowercase=False)
pos_tags_data = count.fit_transform(overall_pos_tags_tokens).todense()
pos_data = count.fit_transform(overall_pos).todense()
tokens_data = count.fit_transform(overall_tokens).todense()
dep_data = count.fit_transform(overall_dep).todense()
min_max_scaler = MinMaxScaler()
normalized_pos_tags_data = min_max_scaler.fit_transform(pos_tags_data)
normalized_pos_data = min_max_scaler.fit_transform(pos_data)
normalized_tokens_data = min_max_scaler.fit_transform(tokens_data)
normalized_dep_data = min_max_scaler.fit_transform(dep_data)

final_pos_tags_data = np.zeros(shape=(1600, 512)).astype(np.float32)
final_pos_data = np.zeros(shape=(1600, 512)).astype(np.float32)
final_tokens_data = np.zeros(shape=(1600, 512)).astype(np.float32)
final_dep_data = np.zeros(shape=(1600, 512)).astype(np.float32)
final_pos_tags_data[:normalized_pos_tags_data.shape[0],:normalized_pos_tags_data.shape[1]] = normalized_pos_tags_data
final_pos_data[:normalized_pos_data.shape[0],:normalized_pos_data.shape[1]] = normalized_pos_data
final_tokens_data[:normalized_tokens_data.shape[0],:normalized_tokens_data.shape[1]] = normalized_tokens_data
final_dep_data[:normalized_dep_data.shape[0],:normalized_dep_data.shape[1]] = normalized_dep_data

In [34]:
maxlength = []
for i in range(0,len(sen)):
    maxlength.append(len(sen[i][0]))
    
print(max(maxlength))

370

In [35]:
def vectorize_comments(df,d2v_model):
    y = []
    comments = []
    for i in range(0,df.shape[0]):
        label = 'SENT_%s' %i
        comments.append(d2v_model.docvecs[label])
    df['vectorized_comments'] = comments
    
    return df

textData = vectorize_comments(textData,doc2vec_model)
print (textData.head(2))

   index  ...                                vectorized_comments
0      0  ...  [-0.8686014, -0.8710503, -0.054903124, 1.67881...
1      1  ...  [-0.39496598, 0.10856623, -0.30414745, 0.25194...

[2 rows x 3 columns]

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate,GridSearchCV 

X_train, X_test, y_train, y_test = train_test_split(textData["vectorized_comments"].T.tolist(), 
                                                                     dummy_y, 
                                                                     test_size=0.1, 
                                                                     random_state=56)

In [37]:
X = np.array(textData["vectorized_comments"].T.tolist()).reshape((1,1600,512))
y = np.array(dummy_y).reshape((1600,4))
X_train2 = np.array(X_train).reshape((1,1440,512))
y_train2 = np.array(y_train).reshape((1,1440,4))
X_test2 = np.array(X_test).reshape((1,160,512))
y_test2 = np.array(y_test).reshape((1,160,4))

In [38]:
from sklearn.model_selection import StratifiedKFold
Xtemp = textData["vectorized_comments"].T.tolist()
ytemp = data['given_class']
training_indices = []
testing_indices = []

skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(Xtemp, ytemp)

for train_index, test_index in skf.split(Xtemp, ytemp):
    training_indices.append(train_index)
    testing_indices.append(test_index)

In [39]:
def extractTrainingAndTestingData(givenIndex):
    X_train3 = np.zeros(shape=(1440, max(maxlength)+10, 512)).astype(np.float32)
    Y_train3 = np.zeros(shape=(1440, 4)).astype(np.float32)
    X_test3 = np.zeros(shape=(160, max(maxlength)+10, 512)).astype(np.float32)
    Y_test3 = np.zeros(shape=(160, 4)).astype(np.float32)

    empty_word = np.zeros(512).astype(np.float32)

    count_i = 0
    for i in training_indices[givenIndex]:
        len1 = len(sen[i][0])
        average_vector1 = np.zeros(512).astype(np.float32)
        average_vector2 = np.zeros(512).astype(np.float32)
        average_vector3 = np.zeros(512).astype(np.float32)
        for j in range(max(maxlength)+10):
            if j < len1:
                X_train3[count_i,j,:] = doc2vec_model[sen[i][0][j]]
                average_vector1 += result_train1[i, tfidf1.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]
                average_vector2 += result_train2[i, tfidf2.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]
                average_vector3 += result_train3[i, tfidf3.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]
            #elif j >= len1 and j < len1 + 379:
            #    X_train3[count_i,j,:] = glove_data[i, j-len1, :]
            elif j == len1:
                X_train3[count_i,j,:] = tfidf_data1[i]
            elif j == len1 + 1:
                X_train3[count_i,j,:] = tfidf_data2[i]
            elif j == len1+2:
                X_train3[count_i,j,:] = tfidf_data3[i]
            elif j == len1+3:
                X_train3[count_i,j,:] = average_vector1
            elif j == len1+4:
                X_train3[count_i,j,:] = average_vector2
            elif j == len1+5:
                X_train3[count_i,j,:] = average_vector3
            elif j == len1+6:
                X_train3[count_i,j,:] = final_pos_tags_data[i] 
            elif j == len1+7:
                X_train3[count_i,j,:] = final_pos_data[i]
            elif j == len1+8:
                X_train3[count_i,j,:] = final_tokens_data[i]
            elif j == len1+9:
                X_train3[count_i,j,:] = final_dep_data[i]
            else:
                X_train3[count_i,j,:] = empty_word

        Y_train3[count_i,:] = dummy_y[i]
        count_i += 1


    count_i = 0
    for i in testing_indices[givenIndex]:
        len1 = len(sen[i][0])
        average_vector1 = np.zeros(512).astype(np.float32)
        average_vector2 = np.zeros(512).astype(np.float32)
        average_vector3 = np.zeros(512).astype(np.float32)
        for j in range(max(maxlength)+10):
            if j < len1:
                X_test3[count_i,j,:] = doc2vec_model[sen[i][0][j]]
                average_vector1 += result_train1[i, tfidf1.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]
                average_vector2 += result_train2[i, tfidf2.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]  
                average_vector3 += result_train3[i, tfidf3.vocabulary_[sen[i][0][j]]] * doc2vec_model[sen[i][0][j]]
            #elif j >= len1 and j < len1 + 379:
            #    X_test3[count_i,j,:] = glove_data[i, j-len1, :]
            elif j == len1:
                X_test3[count_i,j,:] = tfidf_data1[i]
            elif j == len1 + 1:
                X_test3[count_i,j,:] = tfidf_data2[i]
            elif j == len1+2:
                X_test3[count_i,j,:] = tfidf_data3[i]
            elif j == len1+3:
                X_test3[count_i,j,:] = average_vector1
            elif j == len1+4:
                X_test3[count_i,j,:] = average_vector2
            elif j == len1+5:
                X_test3[count_i,j,:] = average_vector3
            elif j == len1+6:
                X_test3[count_i,j,:] = final_pos_tags_data[i]
            elif j == len1+7:
                X_test3[count_i,j,:] = final_pos_data[i]
            elif j == len1+8:
                X_test3[count_i,j,:] = final_tokens_data[i]
            elif j == len1+9:
                X_test3[count_i,j,:] = final_dep_data[i]
            else:
                X_test3[count_i,j,:] = empty_word

        Y_test3[count_i,:] = dummy_y[i]
        count_i += 1
        
    return X_train3, X_test3, Y_train3, Y_test3

In [40]:
model = Sequential()
model.add(Conv1D(filters=128, kernel_size=9, padding='same', activation='relu', input_shape=(max(maxlength)+10,512)))
model.add(Dropout(0.25))
model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.25))
model.add(Conv1D(filters=128, kernel_size=7, padding='same', activation='relu'))
model.add(Dropout(0.25))
model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.25))
model.add(Conv1D(filters=128, kernel_size=5, padding='same', activation='relu'))
model.add(Dropout(0.25))

model.add(Bidirectional(LSTM(50, dropout=0.25, recurrent_dropout=0.2)))
model.add(Dense(4, activation='softmax'))
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_1 (Conv1D)            (None, 380, 128)          589952
_________________________________________________________________
dropout_1 (Dropout)          (None, 380, 128)          0
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 190, 128)          0
_________________________________________________________________
dropout_2 (Dropout)          (None, 190, 128)          0
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 190, 128)          114816
_________________________________________________________________
dropout_3 (Dropout)          (None, 190, 128)          0
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 95, 128)           0
_________________________________________________________________
dropout_4 (Dropout)          (None, 95, 128)           0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 95, 128)           82048
_________________________________________________________________
dropout_5 (Dropout)          (None, 95, 128)           0
_________________________________________________________________
bidirectional_1 (Bidirection (None, 100)               71600
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 404
=================================================================
Total params: 858,820
Trainable params: 858,820
Non-trainable params: 0
_________________________________________________________________
None

In [41]:
from sklearn.metrics import accuracy_score
from keras.callbacks import ModelCheckpoint 

final_accuracies = []
    
filename = 'weights.best.from_scratch%s.hdf5' % 9
checkpointer = ModelCheckpoint(filepath=filename, verbose=1, save_best_only=True)
X_train3, X_test3, Y_train3, Y_test3 = extractTrainingAndTestingData(9)

In [42]:
history = model.fit(X_train3, Y_train3, epochs=15, batch_size=512, callbacks=[checkpointer], validation_data=(X_test3, Y_test3), verbose=1)

Train on 1440 samples, validate on 160 samples
Epoch 1/15
1440/1440 [==============================] - 41s 28ms/step - loss: 0.5649 - accuracy: 0.7500 - val_loss: 0.5344 - val_accuracy: 0.7500

Epoch 00001: val_loss improved from inf to 0.53444, saving model to weights.best.from_scratch9.hdf5
Epoch 2/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.5295 - accuracy: 0.7500 - val_loss: 0.4590 - val_accuracy: 0.7500

Epoch 00002: val_loss improved from 0.53444 to 0.45900, saving model to weights.best.from_scratch9.hdf5
Epoch 3/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.4538 - accuracy: 0.7566 - val_loss: 0.3945 - val_accuracy: 0.8109

Epoch 00003: val_loss improved from 0.45900 to 0.39446, saving model to weights.best.from_scratch9.hdf5
Epoch 4/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.3890 - accuracy: 0.8113 - val_loss: 0.3289 - val_accuracy: 0.8609

Epoch 00004: val_loss improved from 0.39446 to 0.32893, saving model to weights.best.from_scratch9.hdf5
Epoch 5/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.3334 - accuracy: 0.8571 - val_loss: 0.2848 - val_accuracy: 0.8734

Epoch 00005: val_loss improved from 0.32893 to 0.28479, saving model to weights.best.from_scratch9.hdf5
Epoch 6/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.2911 - accuracy: 0.8842 - val_loss: 0.2546 - val_accuracy: 0.8875

Epoch 00006: val_loss improved from 0.28479 to 0.25463, saving model to weights.best.from_scratch9.hdf5
Epoch 7/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.2544 - accuracy: 0.8983 - val_loss: 0.2477 - val_accuracy: 0.8844

Epoch 00007: val_loss improved from 0.25463 to 0.24770, saving model to weights.best.from_scratch9.hdf5
Epoch 8/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.2304 - accuracy: 0.9102 - val_loss: 0.2314 - val_accuracy: 0.8953

Epoch 00008: val_loss improved from 0.24770 to 0.23136, saving model to weights.best.from_scratch9.hdf5
Epoch 9/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.2060 - accuracy: 0.9210 - val_loss: 0.2247 - val_accuracy: 0.9062

Epoch 00009: val_loss improved from 0.23136 to 0.22468, saving model to weights.best.from_scratch9.hdf5
Epoch 10/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.1935 - accuracy: 0.9292 - val_loss: 0.2390 - val_accuracy: 0.9000

Epoch 00010: val_loss did not improve from 0.22468
Epoch 11/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.1768 - accuracy: 0.9321 - val_loss: 0.2616 - val_accuracy: 0.8875

Epoch 00011: val_loss did not improve from 0.22468
Epoch 12/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.1668 - accuracy: 0.9413 - val_loss: 0.2317 - val_accuracy: 0.9062

Epoch 00012: val_loss did not improve from 0.22468
Epoch 13/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.1640 - accuracy: 0.9342 - val_loss: 0.2804 - val_accuracy: 0.8766

Epoch 00013: val_loss did not improve from 0.22468
Epoch 14/15
1440/1440 [==============================] - 41s 28ms/step - loss: 0.1385 - accuracy: 0.9516 - val_loss: 0.2227 - val_accuracy: 0.9000

Epoch 00014: val_loss improved from 0.22468 to 0.22266, saving model to weights.best.from_scratch9.hdf5
Epoch 15/15
1440/1440 [==============================] - 39s 27ms/step - loss: 0.1164 - accuracy: 0.9630 - val_loss: 0.2426 - val_accuracy: 0.8938

Epoch 00015: val_loss did not improve from 0.22266

In [43]:
model.evaluate(X_test3, Y_test3)

160/160 [==============================] - 2s 10ms/step

[0.24257557988166809, 0.893750011920929]